{% extends 'base1.html.twig' %}

{% block body %}
 <div class="container">
        <h1 class="text-center">Gestion des Partenaires</h1>
    </div>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <!-- Votre code pour le navbar ici -->
    </nav>
    <!-- Navbar End -->

    <!-- Gestion des partenaires -->
    <div class="container mt-5">
    <a href="{{ path('addPar') }}" class="btn btn-primary" style="color: white;">Ajouter</a>
    
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOM</th>
                    <th>Adresse</th>
                    <th>CONTACT</th>
                    <th>NOM EVENEMENT</th>
                     <th>Action</th>

                </tr>
            </thead>
           <tbody>
    {% for p in response %}
        <tr>
            <td>{{ p.id}}</td>
            <td>{{ p.nom }} </td>
            <td>{{ p.adresse}}</td>
            <td>{{ p.contact }} </td>
            <td>{{ p.evenement.nom }}</td>
            <td>
                   <div class="btn-group" role="group">
                     <a href="{{ path('modifierPar', {'id': p.id}) }}" class="btn btn-primary btn-sm" style="width: 80px;">Modifier</a>
                     <a href="{{ path('deletePar', {'id': p.id}) }}" class="btn btn-sm" style="background-color: #E30A40; color: #ffffff; width: 80px;">Supprimer</a>
                    </div>
    
                    </td>
            </tr>
    {% endfor %}

            </tbody>
        </table>
    </div>

    <!-- Footer -->
    <footer>
        <!-- Votre code pour le footer ici -->
    </footer>
{% endblock %}