{% extends 'back.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4">Modifier un utilisateur</h1>
                {{ form_start(userForm, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="form-group">

                    {{ form_widget(userForm.email, {'attr': {'class': 'form-control'}}) }}
                                        {% for error in userForm.email.vars.errors %}
                        <span class="text-danger"><i class="bi bi-exclamation-triangle"></i> {{ error.message }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
           
                    {{ form_widget(userForm.cin, {'attr': {'class': 'form-control'}}) }}
                      {% for error in userForm.cin.vars.errors %}
                        <span class="text-danger"><i class="bi bi-exclamation-triangle"></i> {{ error.message }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
            
                    {{ form_widget(userForm.nom, {'attr': {'class': 'form-control'}}) }}
                      {% for error in userForm.nom.vars.errors %}
                        <span class="text-danger"><i class="bi bi-exclamation-triangle"></i> {{ error.message }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
               
                    {{ form_widget(userForm.prenom, {'attr': {'class': 'form-control'}}) }}
                      {% for error in userForm.prenom.vars.errors %}
                        <span class="text-danger"><i class="bi bi-exclamation-triangle"></i> {{ error.message }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                 
                    {{ form_widget(userForm.telephone, {'attr': {'class': 'form-control'}}) }}
                      {% for error in userForm.telephone.vars.errors %}
                        <span class="text-danger"><i class="bi bi-exclamation-triangle"></i> {{ error.message }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                 
                    {{ form_widget(userForm.ville, {'attr': {'class': 'form-control'}}) }}
                     {% for error in userForm.ville.vars.errors %}
                        <span class="text-danger"><i class="bi bi-exclamation-triangle"></i> {{ error.message }}</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form_label(userForm.roles) }}
                    {{ form_widget(userForm.roles) }}
                </div>

                <button type="submit" class="btn btn-primary">Valider</button>

                {{ form_end(userForm, {'button_class': 'd-none'}) }}
            </div>
        </div>
    </div>
{% endblock %}
