{% extends 'back.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<div style="display: flex; align-items: center; margin-bottom: 10px;">
<h1>Liste des utilisateurs</h1>
    <a href="{{ path('admin_ajouter_utilisateur') }}" class="fa-solid fa-user-plus fa-flip"style="--fa-animation-duration: 3s; margin-left: 760px; font-size: 28px; color: #042041;"></a>
    
</div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Rôles</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>CIN</th>
                    <th>Téléphone</th>
                    <th>Ville</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                                {% if role == "ROLE_USER" %}
                                    Utilisateur
                                {% elseif role == "ROLE_EDITOR" %}
                                    Editeur
                                {% elseif role == "ROLE_ADMIN" %}
                                    Administrateur
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.cin }}</td>
                        <td>{{ user.telephone }}</td>
                        <td>{{ user.ville }}</td>
                        <td>
<a href="{{ path('admin_modifier_utilisateur', {'id': user.id}) }}" class="fa-solid fa-cog fa-spin" style="font-size: 30px; color: #117A65; margin-right: 5px;"></a>
<a href="{{ path('admin_supprimer_utilisateur', {'id': user.id}) }}" class="fa-solid fa-trash-can fa-beat-fade"style="--fa-beat-fade-opacity: 0.4; --fa-beat-fade-scale: 1.000; font-size: 30px; color: #CB4335; margin-left: 5px;"></a>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9" class="text-center">Aucun utilisateur inscrit</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
