{% extends 'base1.html.twig' %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="mb-4">Liste des Dons</h1>

            

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                
                    <th scope="col">title</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Image</th>
                    <th scope="col">description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for don in response %}
                <tr>
                   <td>{{ don.title }}</td>
                    <td>{{ don.adresse }}</td>
                    <td>{{ don.image }}
                    <img class="img-thumbnail" src="{{ asset('uploads/images/' ~ don.image) }}" style="max-width: 150px; max-height: 150px;"></td>
                    <td>{{ don.description }}</td>
                    <td>
                        <a href="{{ path('editD', {'id': don.id}) }}" class="btn btn-primary btn-sm">Modifier</a>
                        <a href="{{ path('removeD', {'id': don.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
