{% extends 'base.html.twig' %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="mb-4">Liste des Dons</h1>

        {% for don in response %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ don.title }}</h5>
                <p class="card-text"><strong>Adresse:</strong> {{ don.adresse }}</p>
                {% if don.image is not null %}
                <img src="{{ asset('uploads/images/' ~ don.image) }}" class="img-fluid rounded" alt="Donation Image" style="height: 200px; object-fit: cover;">
                {% endif %}
                <p class="card-text">{{ don.description }}</p>
                <div id="qrcode-{{ don.id }}"></div> <!-- Display QR code for each donation -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto p-4 p-lg-0">
            <li class="nav-item">
                <div class="sidebar-search mx-auto">
                    <div class="input-group custom-search-form">
                        <input type="text" id="search" class="form-control" placeholder="Search here">
                        <button type="button" id="searchButton" class="btn btn-primary">Search</button>
                    </div>
                    <!-- /input-group -->
                </div>
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#"><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level" id="entitiesNav">
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    var searchRequest = null;
                    $("#search").keyup(function() {
                        var minlength = 1;
                        var that = this;
                        var value = $(this).val();
                        var entitySelector = $("#entitiesNav").html('');
                        if (value.length >= minlength ) {
                            if (searchRequest != null)
                                searchRequest.abort();
                            searchRequest = $.ajax({
                                type: "GET",
                                url: "{{ path('ajax_search') }}",
                                data: {
                                    'q' : value
                                },
                                dataType: "text",
                                success: function(msg){
                                    //we need to check if the value is the same
                                    if (value===$(that).val()) {
                                        var result = JSON.parse(msg);
                                        $.each(result, function(key, arr) {
                                            $.each(arr, function(id, value) {
                                                if (key === 'Dons') {
                                                    if (id !== 'error') {
                                                        console.log(value[1]);
                                                        entitySelector.append('<li><b>'+value[1]+'</b><a href="/detail/'+id+'">'+'<img src="/uploads/images/'+value[0]+'" style="width: 50px; height: 50px"/>'+'</a></li>');
                                                    } else {
                                                        entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                    }
                                                }
                                            });
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            </script>

{% block js %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/qrcode@latest/qrcode.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            {% for don in response %}
                var qrText{{ don.id }} = JSON.stringify({{ don.id }});
                var qrcode{{ don.id }} = new QRCode(document.getElementById("qrcode-{{ don.id }}"), {
                    text: qrText{{ don.id }},
                    width: 300,
                    height: 300
                });
            {% endfor %}
        });
    </script>
{% endblock %}
