{% extends 'base1.html.twig' %}
  {% block css%}
 <style>
    .form-error-message {
    color: red;
    font-size: 14px;

}
.left-sidebar {
      background-color: #e6f2ff; /* Light blue color */
    }</style>
    <style>
.btn-container {
    display: flex;
    justify-content: center; /* Pour centrer horizontalement */
    align-items: center; /* Pour centrer verticalement */
    height: 10vh; /* Réglage de la hauteur du conteneur (100% de la hauteur de la fenêtre) */
} .table-row:hover {
            background-color: #e6f2ff; /* Couleur de fond au survol */
        }
.custom-card {
    background-color: #e6f2ff; /* Couleur de fond personnalisée */
    border: 1px solid #ced4da; /* Bordure personnalisée */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

</style>
    {% endblock %}

{% block body %}
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
        <!-- Votre code pour le navbar ici -->
    </nav>
    <!-- Navbar End -->

    <!-- Tableau de produits -->
    <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Commande</th>
                    <th>Produit</th>
                    <th>Image</th>
                    <th>Quantite</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for p in response %}
                    <tr class="table-row" style="transition: background-color 0.3s;">
                        <td><span style="color: blue;">{{ p.commande.id }}</span></td>                   
                        <td>{{ p.produit.nom }}</td> {# Accéder au nom du produit via la relation produit #}
                        <td>
                            <img src="{{ asset('uploads/' ~ p.produit.ImageName) }}" class="img-thumbnail" style="max-width: 150px; max-height: 150px;" alt="{{ p.produit.nom }}">
                        </td> {# Afficher l'image du produit #}
                        <td>{{ p.quantite }}</td> {# Accéder à la quantité #}
                        <td><span class="text-danger">{{ p.prix }} TND</span></td> {# Accéder au prix et afficher en rouge #}
                    </tr>
                  
                {% endfor %}
                   <a href="{{ path('telecharger') }}" class="btn" style="color: blue;">
    <i class="fas fa-download"></i> Télécharger le bilan 
</a>

            </tbody>
        </table>
    </div>


   
{% endblock %}
