{% extends 'base1.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Ajouter un événement</h1>
</div>

{# Affichage des éventuelles erreurs du formulaire #}
{% if form_errors(f) %}
<div class="alert alert-danger">
    {{ form_errors(f) }}
</div>
{% endif %}

{# Début du formulaire #}
{{ form_start(f, {'attr': {'novalidate': 'novalidate'}}) }}

{# Champ "Nom" de l'événement #}
<div class="form-group">
    {{ form_widget(f.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom événement'}}) }}
    {% for error in f.nom.vars.errors %}
    <span class="text-danger"><i class="bi bi-exclamation-triangle"></i> {{ error.message }}</span>
    {% endfor %}
</div>

<div class="form-group">
    {{ form_widget(f.date, {'attr': {'class': 'form-control', 'placeholder': 'Date événement'}}) }}
    {% for error in f.date.vars.errors %}
    <span class="text-danger"><i class="bi bi-exclamation-triangle"></i> {{ error.message }}</span>
    {% endfor %}
</div>

<div class="form-group">
    {{ form_widget(f.lieu, {'attr': {'class': 'form-control'}}) }}
    {% for error in f.lieu.vars.errors %}
    <span class="text-danger"><i class="bi bi-exclamation-triangle"></i> {{ error.message }}</span>
    {% endfor %}
</div>

<div class="form-group">
    {{ form_widget(f.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
       {% for error in f.date.vars.errors %}
    <span class="text-danger"><i class="bi bi-exclamation-triangle"></i> {{ error.message }}</span>
    {% endfor %}
</div>

{# Bouton de soumission du formulaire #}
<div class="btn-container">
    <button type="submit" class="btn btn-primary">Ajouter</button>
</div>

{# Fin du formulaire #}
{{ form_end(f) }}
</div>
{% endblock %}
