{% extends 'base1.html.twig' %}
   {% block css%}
 <style>
    .form-error-message {
    color: red;
    font-size: 14px;

}
.left-sidebar {
      background-color: #e6f2ff; /* Light blue color */
    }</style>
    <style>
.btn-container {
    display: flex;
    justify-content: center; /* Pour centrer horizontalement */
    align-items: center; /* Pour centrer verticalement */
    height: 10vh; /* Réglage de la hauteur du conteneur (100% de la hauteur de la fenêtre) */
} .table-row:hover {
            background-color: #e6f2ff; /* Couleur de fond au survol */
        }
.custom-card {
    background-color: #e6f2ff; /* Couleur de fond personnalisée */
    border: 1px solid #ced4da; /* Bordure personnalisée */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}
    /* Style pour le conteneur du formulaire */
    .form-container {
        background-image: url('{{ asset('vue-dessus-variete-medicaments-comprimes.jpg') }}');
        background-size: cover;
        background-position: center;
        height: 100vh; /* Assure que le conteneur occupe toute la hauteur de la fenêtre */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Style pour la carte */
    .custom-card {
        width: 100%; /* Ajuste la largeur de la carte au contenu */
    }
</style>
    {% endblock %}
{% block body %}


<div class="form-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card custom-card">
                    <div class="card-header text-center">
                        <h1 style="color: blue; font-size:50px;">Ajouter un produit</h1>
                    </div>
                    <div class="card-body">
                        {# Affichage des éventuelles erreurs du formulaire #}
                        {% if form_errors(f) %}
                            <div class="alert alert-danger">
                                {{ form_errors(f) }}
                            </div>
                        {% endif %}
                        {# Début du formulaire #}
                        {{ form_start(f,{'attr':{'novalidate':'novalidate'}}) }}
                        {# Champ "Nom" du produit #}
                        <div class="form-group">
                            {{ form_label(f.nom) }}
                            {{ form_widget(f.nom, {'attr': {'class': 'form-control' ~ (form_errors(f.nom)|length > 0 ? ' is-invalid' : '')}}) }}
                            <div class="form-error-message">
                                {{ form_errors(f.nom) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(f.prix) }}
                            {{ form_widget(f.prix, {'attr': {'class': 'form-control' ~ (form_errors(f.prix)|length > 0 ? ' is-invalid' : '')}}) }}
                            <div class="form-error-message">
                                {{ form_errors(f.prix) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(f.photo,'Sélectionner une photo') }}
                            {{ form_widget(f.photo, {'attr': {'class': 'form-control' ~ (form_errors(f.photo)|length > 0 ? ' is-invalid' : '')}}) }}
                        </div>
                        <div class="form-error-message">
                            {{ form_errors(f.photo) }}
                        </div>
                        {# Bouton de soumission du formulaire #}
                        <div class="text-center" style="margin-top: 15px;">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>
                        {# Fin du formulaire #}
                        {{ form_end(f) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
